<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SaveSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <SaveSettings>
    <add key="SaveLocation" value="SavedData.txt"/>
  </SaveSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>